<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <property name="layout"></property>
    </Properties>

    <Appenders>
        <Console name="consola" target="SYSTEM_OUT" >
            <PatternLayout pattern="${layout}" />
        </Console>
		
        <RollingFile name="archivo" fileName="/logs/satelite/satelite.log" append="true" >
            <FilePattern>/logs/satelite/satelite.%d{yyyyMMdd}.%i.log.zip</FilePattern>
            <PatternLayout pattern="${layout}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200 MB" />
                <TimeBasedTriggeringPolicy />				
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
    </Appenders>

    <Loggers>
        <AsyncRoot level="ALL">
            <AppenderRef ref="consola" />
            <AppenderRef ref="archivo" />
        </AsyncRoot>
    </Loggers>

</Configuration>
