<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J2" />
	</settings>

	<typeAliases>
		<typeAlias type="cl.majeanis.satelite.util.tipo.Encrypted" alias="Encrypted" />
	</typeAliases>

	<typeHandlers>
        <package name="cl.majeanis.satelite.utl.po" />	
	</typeHandlers>
</configuration>
