<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        				http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

	<context:component-scan base-package="cl.majeanis.satelite" />

	<bean id="dsSatelite" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/satelite" />
		<property name="resourceRef" value="false" />
	</bean>

	<bean id="dsLegacy" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/legacy" />
		<property name="resourceRef" value="false" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:jta-transaction-manager />

	<bean id="sqlSessionFactorySatelite" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dsSatelite" />
		<property name="configLocation" value="/WEB-INF/mybatis.xml" />
	</bean>

	<bean id="sqlSessionFactoryLegacy" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dsLegacy" />
		<property name="configLocation" value="/WEB-INF/mybatis.xml" />
	</bean>

	<mybatis:scan base-package="cl.majeanis.satelite.po"
		marker-interface="cl.majeanis.satelite.po.SateliteMap" factory-ref="sqlSessionFactorySatelite" />

	<mybatis:scan base-package="cl.majeanis.satelite.po"
		marker-interface="cl.majeanis.satelite.po.LegacyMap" factory-ref="sqlSessionFactoryLegacy" />

</beans>
